<!DOCTYPE html>
<html>
<head>

    <title><%= (yield(:title) || "Untitled") %></title>
	<%= yield(:meta_keywords) %>
	<%= yield(:meta_description) %>

    <%= html5 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
    <%= csrf_meta_tag %>

    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js' %>
    <%= javascript_include_tag 'rails', 'css_browser_selector', 'jquery.browser', 'jquery.validate' %>

	<%= yield(:head) %>

    <%= javascript_include_tag 'admin' %>
    <%= stylesheet_link_tag 'admin' %>
    
    <!-- sticky footer fix for IE8 -->
    <!--[if  IE 8]>
    	<style type="text/css">#pagewrap {display:table;}</style>
    <![endif]-->

</head>
<body>  
    <div id="pagewrap">        
        <div id="nav">
          <%= link_to "Dashboard", :controller => "admin", :action => "dashboard" %> &nbsp;|&nbsp;
          <%= link_to "Navigation", "#" %> &nbsp;|&nbsp;
          <%= link_to "Navigation", "#" %> &nbsp;|&nbsp;
          <%= link_to "Logout", "" %>
        </div><!--nav-->

      <h1><%= yield(:title) if show_title? %></h1>

      <h2><%= yield(:sub_title) %></h2>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <hr />

      <div id="main">
        <%= yield %>
      </div><!--main-->

    </div><!-- pagewrap -->
    
    <div id="footer">
      <div id="copyright">&copy;<%= Time.now.year %> Ones &amp; Zeros Web Design</div>
    </div><!--footer-->
</body>
</html>



